<header id="navbar-spy" class="header header-14 header-topbar header-half header-transparent header-fixed">
    <div id="top-bar" class="top-bar topbar-transparent">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-6 top--social text-right">
                    <a class="facebook" href="https://www.facebook.com/boris.dovecer1" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
                    <a class="btn" href="/kontakt">Kontakt</a>
                </div><!-- .col-md-6 end -->
            </div>
        </div>
    </div>
    <nav id="primary-menu" class="navbar navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo" href="/">
                    <img class="logo-light" src="/images/logo/psajtlogo.png" alt="Psajt Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
                <ul class="nav navbar-nav nav-pos-right snavbar-left">

                    <!-- Home Menu -->
                    <li class="has-dropdown mega-dropdown ">
                        <a href="/" class="dropdown-toggle menu-item">Početna</a>

                        <!-- .mega-dropdown-menu end -->
                    </li>
                    <!-- li end -->
                    <!-- Pages Menu -->
                    <li class="has-dropdown">
                        <a href="/novosti" class="dropdown-toggle  menu-item">Novosti</a>

                    </li>
                    <!-- li end -->
                    <!-- Features Menu-->
                    <li class="has-dropdown">
                        <a href="/psihodelici" class="dropdown-toggle menu-item">Psihodelici</a>

                    </li>

                    <li class="has-dropdown">
                        <a href="/proizvodi" class="dropdown-toggle menu-item">Shop</a>
                    </li>
                    <!-- li end -->
                    <!-- Blog Menu-->
                    <li class="has-dropdown">
                        <a href="/admin"  class="dropdown-toggle menu-item">O nama/admin</a>
                    </li>
                    <!-- li end -->



                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

</header>