<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">

                <li class="active">
                    <a href="/novosti" ><i class="fas fa-jedi"></i>Najnovije</a>
                </li>

                <li>
                    <a href="/novosti?category=kultura" ><i class="fas fa-book" ></i>Kultura</a>
                </li>

                <li>
                    <a href="/novosti?category=nauka" ><i class="fas fa-microscope"></i>Nauka</a>
                </li>

                <li>
                    <a href="/novosti?category=spiritualnost" ><i class="fas fa-om"></i>Spiritualnost</a>
                </li>

                <li>
                    <a href="/novosti?category=ekologija" ><i class="fas fa-tree"></i>Ekologija</a>
                </li>

                <li>
                    <a href="/novosti?category=iskustva" ><i class="fas fa-chalkboard-teacher"></i>Iskustva</a>
                </li>

                <li>
                    <a href="/novosti?category=politika" ><i class="fas fa-balance-scale"></i>Politika</a>
                </li>

                <li>
                    <a href="/novosti?category=ostalo" ><i class="fas fa-cannabis"></i>Ostalo</a>
                </li>

            </ul>



        </div>
        <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
</div>
<!-- .container end -->