<div class="page-sidebar">
    <div class="logo-box">
        <a href="/" >
            <img class="logo-light" src="/images/logo/psajtlogo.png" alt="Psajt Logo" style="width: 60%;">
        </a>
        <a href="/" id="sidebar-close"><i class="material-icons">close</i></a></div>
    <div class="page-sidebar-inner slimscroll">
        <ul class="accordion-menu">
            <li class="sidebar-title">
                Apps
            </li>
            <li>
                <a href="/admin/blog" ><i class="material-icons-outlined">dashboard</i>Blog</a>
            </li>
            <li>
                <a href="/admin/psy"><i class="material-icons-outlined">inbox</i>Psihodelici</a>
            </li>
            <li>
                <a href="/admin/items"><i class="material-icons-outlined">account_circle</i>Items</a>
            </li>
            <li>
                <a href="/admin/orders"><i class="material-icons">cloud_queue</i>Orders</a>
            </li>
            <li>
                <a href="/admin/users"><i class="material-icons">done</i>Users</a>
            </li>
            <li>
                <a href="/admin/comments"><i class="material-icons">done</i>Comments</a>
            </li>
            <li class="sidebar-title">
                Settings
            </li>
            <li >
                <a href="/"><i class="material-icons-outlined">settings</i>Settings</a>
            </li>
        </ul>
    </div>
</div>